In [1]:
import duckdb as db 
#pip install duckdb
import pandas as pd
import glob
import time
import duckdb

In [13]:
## File path to df
file_path = "dataset_sales.csv"
df = pd.read_csv(file_path)
df.head(2)

,Order ID,Product,Quantity Ordered,Price,Order Date,Time,Purchase Address,City,Product Type
0,176558,USB-C Charging Cable,2,11.95,19-04-2019,8:46 AM,"917 1st St, Dallas, TX 75001",Dallas,Cable
1,176559,Bose SoundSport Headphones,1,99.99,07-04-2019,10:30 PM,"682 Chestnut St, Boston, MA 02215",Boston,Headphones

In [14]:
# COnnect to database
conn = duckdb.connect(database=':memory:', read_only=False)
conn.register("salesTable", df)

In [15]:
#result = conn.execute("SELECT * FROM salesTable where City  = "Boston" ")

# Execute a SQL query to fetch data from the salesTable
result = conn.execute("SELECT * FROM salesTable")

# Fetch and print the first 5 rows
for row in result.fetchdf().head(5).itertuples():
    print(row)

Pandas(Index=0, _1=176558, Product='USB-C Charging Cable', _3=2, Price='11.95', _5='19-04-2019', Time='8:46 AM', _7='917 1st St, Dallas, TX 75001', City=' Dallas', _9='Cable')
Pandas(Index=1, _1=176559, Product='Bose SoundSport Headphones', _3=1, Price='99.99', _5='07-04-2019', Time='10:30 PM', _7='682 Chestnut St, Boston, MA 02215', City=' Boston', _9='Headphones')
Pandas(Index=2, _1=176560, Product='Google Phone', _3=1, Price='600', _5='12-04-2019', Time='2:38 PM', _7='669 Spruce St, Los Angeles, CA 90001', City=' Los Angeles', _9='Phone')
Pandas(Index=3, _1=176560, Product='Wired Headphones', _3=1, Price='11.99', _5='12-04-2019', Time='2:38 PM', _7='669 Spruce St, Los Angeles, CA 90001', City=' Los Angeles', _9='Headphones')
Pandas(Index=4, _1=176561, Product='Wired Headphones', _3=1, Price='11.99', _5='30-04-2019', Time='9:27 AM', _7='333 8th St, Los Angeles, CA 90001', City=' Los Angeles', _9='Headphones')

In [18]:
df = conn.sql("""
  SELECT *
  FROM salesTable
  LIMIT 10
""").df()

In [19]:
df1

,Order ID,Product,Quantity Ordered,Price,Order Date,Time,Purchase Address,City,Product Type
0,176558,USB-C Charging Cable,2,11.95,19-04-2019,8:46 AM,"917 1st St, Dallas, TX 75001",Dallas,Cable
1,176559,Bose SoundSport Headphones,1,99.99,07-04-2019,10:30 PM,"682 Chestnut St, Boston, MA 02215",Boston,Headphones
2,176560,Google Phone,1,600,12-04-2019,2:38 PM,"669 Spruce St, Los Angeles, CA 90001",Los Angeles,Phone
3,176560,Wired Headphones,1,11.99,12-04-2019,2:38 PM,"669 Spruce St, Los Angeles, CA 90001",Los Angeles,Headphones
4,176561,Wired Headphones,1,11.99,30-04-2019,9:27 AM,"333 8th St, Los Angeles, CA 90001",Los Angeles,Headphones
5,176562,USB-C Charging Cable,1,11.95,29-04-2019,1:03 PM,"381 Wilson St, San Francisco, CA 94016",San Francisco,Cable
6,176563,Bose SoundSport Headphones,1,99.99,02-04-2019,7:46 AM,"668 Center St, Seattle, WA 98101",Seattle,Headphones
7,176564,USB-C Charging Cable,1,11.95,12-04-2019,10:58 AM,"790 Ridge St, Atlanta, GA 30301",Atlanta,Cable
8,176565,Macbook Pro Laptop,1,"1,700.00",24-04-2019,10:38 AM,"915 Willow St, San Francisco, CA 94016",San Francisco,Laptop
9,176566,Wired Headphones,1,11.99,08-04-2019,2:05 PM,"83 7th St, Boston, MA 02215",Boston,Headphones